/* @override http://s3.amazonaws.com/market-media.numismatichq.com/media/css/html5/css.css */

/* @override http://s3.amazonaws.com/market-media.numismatichq.com/media/css/html5/css.css */

/* @override http://s3.amazonaws.com/market-media.numismatichq.com/media/css/html5/css.css */

@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

blockquote:before, blockquote:after { content: "" }
blockquote { quotes: "" "" }

section.blockquote {
	padding: 100px;
}

header, nav, article, aside, footer, hgroup, section { display: block }



article img {
	margin: 4px;
	clear: none;
	width: 200px;
}

#content article div.collection-block div.block {
	text-align: center;
	width: 110px;
	padding: 10px;
	margin: 0;
	min-height:200px;
	float: none;
	display: inline-block;
}

#content article div.pagination.prefix_1 {
	display: inline;
	float: left;
	clear: none;
	font-size: 12pt;
	text-align: center;
	margin: 10px 10px;
	padding-left: 30px;
	height: 50px;
}


#ItemDescription {
	width: 500px;
	height: 500px;
	float: none;
	clear: right;
	display: block;
}

#ItemDescription p {
font-weight: bold;
margin: 14px 10px;
}

.buy_now {
height: 100px;	
}

#ItemDescription h1 {
	font-size: 16pt;	
}



#content article div.collection-block {
	display: block;
	float: none;
}

#ItemDescription form.buy_now h2 {
	color: red;
	
}

#ItemDescription form.buy_now {
	float: none;
	clear: left;
	display: inline;
	width: 0;
	margin: 5px;
}



/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1 } /* IE6 */
*:first-child+html .clearfix { zoom: 1 } /* IE7 */

/* @FONT-FACE */
@font-face {
	font-family: 'Colaborate-RegularRegular';
	src: url('fonts/ColabReg-webfont.eot');
	src: local('☺'), url('fonts/ColabReg-webfont.woff') format('woff'), url('fonts/ColabReg-webfont.ttf') format('truetype'), url('fonts/ColabReg-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'HighlandGothicLightFLFRegular';
	src: url('fonts/HighlandGothicLightFLF-webfont.eot');
	src: local('☺'), url('fonts/HighlandGothicLightFLF-webfont.woff') format('woff'), url('fonts/HighlandGothicLightFLF-webfont.ttf') format('truetype'), url('fonts/HighlandGothicLightFLF-webfont.svg#webfont') format('svg');
}


/* TYPOGRAPHY */
html {
	background-color: #81aeab;
	background-image: -moz-linear-gradient(top, #71a4a1 0%, #81aeab 20%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #71a4a1),color-stop(0.2, #81aeab));
}

body {
	color: #444;
	font: 12px/18px Corbel, Arial, Helvetica, sans-serif;

}

p { margin-bottom: 18px }

article p {
	display:inline-block;	
}

strong { font-weight: bold }
em { font-style: italic }

a { color: #940033 }
a:hover { border-bottom: 1px solid #940033 }
a:active { border-bottom: 2px solid #940033 }

h1 { font: 24px/36px Colaborate-RegularRegular, "Trebuchet MS", Arial, Helvetica, sans-serif }

.search_result_product {
	float: left;
	display: inline;
	height: 160px;
	width: 120px;
}

#product_1971 h4 {
	
}

.search_result_product img{
	max-width: 70px;
	text-align: center;
	padding-top: 10px;
}

.product_image {
text-align: center;	
min-height: 140px;
}

p.datetime {
	font-size: x-small;
	font-style: italic;
	
}

.ViewPost p {
line-height: 1.4em;
margin: 10px 2px;
}

.search_result_product h4 {

	font-size: 10px;
	text-align: center;
	clear: left;
	float: none;
}

aside input {
	padding-left: 5px;
	margin-left: 5px;
	width: 140px;

}

button.Search {
	background-color:  #970000;
	color: #fff;
	box-shadow: inset 0 -28px 35px -18px #970000;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;

}
.search_result_product h5 {
	font-size: 10px;
	text-align: center;
	color: #970000;

}

.newLine { display: block }


/* HEADER */
hgroup { margin: 20px 0 40px }
hgroup h1 {
	font: 40px/54px HighlandGothicLightFLFRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #444;
}

#images {
	
	
}
hgroup h1 a:hover { border: none }
hgroup h2 {
	font: 14px/20px Colaborate-RegularRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #eee;
}

/* Navigation */
nav#global {
	margin: 30px 0 40px;
	width: 100%;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #970000;
	background-image: -moz-linear-gradient(top, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #970000));
	box-shadow: inset 0 0 15px #900, 0 0 20px #446b6b, inset 0 35px 35px -18px #ca0000;
	-moz-box-shadow: inset 0 0 15px #900, 0 0 20px #446b6b;
	-webkit-box-shadow: 0 0 20px #446b6b;
}
nav#global ul {
	text-align: center;
	height: 40px;
	margin: 0 auto;
	display: table;
}
nav#global ul li { position: relative; display: inline }
nav#global ul li a {
	font-size: 12px;
	display: block;
	float: left;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 25px;
	color: #fff;
}
nav#global ul li a:hover {
	border: none;
	box-shadow: inset 0 0 15px #900, inset 0 -35px 35px -18px #ca0000;
	-moz-box-shadow: inset 0 0 15px #900;
	background-image: -moz-linear-gradient(bottom, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ca0000),color-stop(1, #970000));
}

nav#global ul li #subMenu {
	position: absolute;
	top: 35px;
	left: -387px;
	-moz-transform: translate(0, 11px);
	-webkit-transform: translate(232px, 0);
	background: #970000;
	height: 0;
	z-index: -1;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10px #444, inset 0 0 15px #900, inset 0 35px 35px -18px #ca0000;
	-moz-box-shadow: 0 0 10px #444, inset 0 0 15px #900;
	-webkit-box-shadow: 0 0 10px #444;
	background-image: -moz-linear-gradient(top, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #970000));
}
nav#global ul li #subMenu li {
	display: block;
	text-align: center;
	margin: 0 auto;
}
nav#global ul li #subMenu li a {
	height: 0;
	line-height: 0;
	width: 150px;
}
#subMenu li:first-child a {
	border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
}
#subMenu li:last-child a {
	border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
}


#services a {
	transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
#services:hover > #subMenu { z-index: 2 }
#services:hover > #subMenu li a { height: 40px; line-height: 40px }


/* MAIN */

.MainContent {
	float: left;
	clear: left;
	width: 1004px;
	margin-left: 50px;
}



body article {
	background: #ebe8d9;
	margin: 0px ;
	padding: 4px 4px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10px #629996;
	-moz-box-shadow: 0 0 10px #629996;
	-webkit-box-shadow: 0 0 10px #629996;
	float: left;
	clear: none;
	display: inline;
	width: 700px;
}

.HomePage {
margin-top: 10px;
margin-left: 2px;	
}



#content article {
	margin-left: 50px;

}

body header {
 margin-left: 50px;
 width: 720px;
}

article header {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #eee;
	height: 40px;
	background-color: #0081ac;
	box-shadow: inset 0 -35px 35px -18px #005b79;
	background-image: -moz-linear-gradient(top, #0081ac, #005b79);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #005b79));
	margin-left: 0;
	width: 690px;
}

article header h1 { line-height: 40px }

.time {
	float: left;
	text-align: right;
	width: 50px;
	height: 40px;
	font-size: 24px;
	margin-right: 12px;
	padding-right: 10px;
	background-color: #195875;
	background-color: rgba(126, 0, 0, 0.2);
	border-right: 1px solid #600;
	border-right-color: #024a62;
	border-right-color: rgba(0, 72, 96, 0.9);
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
	-moz-box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
}
.year {
	font-size: 15px;
	text-align: center;
	width: 40px;
	line-height: 16px;
	margin: 12px 0 0 -7px;
	display: block;
	transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
.date {
	font-size: 18px;
	height: 24px;
	text-align: center;
	float: right;
	margin: -25px 0 0 -10px;
}
.date span {
	display: block;
	font-size: 12px;
	height: 16px;
}

article header h1 { float: left }
.comments {
	font-size: 16px;
	font-weight: bold;
	float: right;
	line-height: 40px;
	width: 60px;
	height: 40px;
	text-align: center;
	background-color: #970000;
	background-color: rgba(151, 0, 0, 0.4);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
}

footer p { margin: 0px }

footer.clearfix {
	display: inline;
	float: left;
	clear: left;
	margin-left: 50px;
	width: 700px;
}


.tags {
	-o-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.9s ease-in-out;
	padding: 0 3px;
	margin-right: 3px;
	font-variant: small-caps;
	font-size: 14px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tags:hover {
	background-color: #940033;
	color: #ddd;
	border: none;
}
.button {
	display: block;
	float: right;
	color: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 0 10px 0 35px;
	height: 34px;
	line-height: 34px;
	margin-top: -32px;
	position: relative;
	background-color: #970000;
	box-shadow: inset 0 35px 35px -18px #ca0000, inset 3px 0 12px #600;
	background-image: -moz-linear-gradient(top, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #970000));
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	clear: both;
	
}

#images a p {
	display: inline;
	float: left;
	clear: left;
}
.button:before {
	content: "";
	background-color: #ebe8d9;
	position: absolute;
	top: 0;
	left: -10px;
	height: 34px;
	width: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.button:hover {
	border: none;
	box-shadow: inset 0 -35px 35px -18px #ca0000, inset 3px 0 12px #600;
	background-image: -moz-linear-gradient(top, #970000, #ca0000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #970000),color-stop(1, #ca0000));
	padding-left: 30px
}


/* SIDEBAR */
aside {
width: 230px;
	float: right;
	background: #ebe8d9;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px #629996;
	-moz-box-shadow: 0 0 10px #629996;
	-webkit-box-shadow: 0 0 10px #629996;
	right: 50px;
}

aside p {
	margin: 10px;
}

.blogPosts h2 {
	margin: 10px 2px;
	font-style: italic;
	font-size: x-small;
	
}

fieldset.register {
width: 300px;
padding: 20px 80px;
}
fieldset.register input {
	margin-top: 10px;
	line-height: 18pt;
	width: 80%;
	font-size: 17pt;
}


fieldset.register label {
	display: block;
	font-size: 15pt;
	color: inherit;
	margin-top: 10px;
}

fieldset.register button {
	display: block;
	font-size: 15pt;
	color: #fff;
	width: 100px;	
		background-color:  #970000
}

.errorlist {
	font-weight: bold;
	color:#red;
	margin-top: 10px;	
}

#content article div.block {
	float: left;
	display: inline-block;
	clear: none;
}
aside h1, footer h1 {
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	margin: 10px 5px;
	background-color: #0081ac;
	box-shadow: inset 0 -28px 35px -18px #005b79;
	background-image: -moz-linear-gradient(top, #0081ac, #005b79);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #005b79));
	color: #fff;
	padding: 0 10px;
	border: 1px solid #6e7e93;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	clear: none;
	float: none;
}

aside nav, aside section {
	margin: 0 0 15px 0;
	padding: 0;
	background: none;
}

aside nav {
	padding: 10px 0px;
}
aside section:last-child { margin-bottom: 0 }

#inTouch li {

	background: #fff;
	margin-bottom: 5px;
	height: 26px;
	line-height: 26px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#inTouch li span {
	display: block;
	float: left;
	text-align: center;
	width: 70px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
}
.twitter {
	background-color: #4da3bf;
	box-shadow: inset 0 35px 35px -18px #73b6cc;
	background-image: -moz-linear-gradient(bottom, #4da3bf, #73b6cc);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4da3bf),color-stop(1, #73b6cc));
	position: relative;
	right: 20px;
	bottom: 5px;
}

article h1 {
	font-size: 18pt;
}

.ItemsForSale h1 {
	font-size: 10pt;
	text-align: center;
}

.ItemsForSale h2 {
	font-size: 8pt;
	color: #970000;
	text-align: center;
}

.ItemsForSale {
	display: inline-block;
	width: 140px;
	height: 200px;
	margin-bottom: 25px;
}
.ItemsForSale img {
	display: inline-block;
	width: 120px;
	
}



.pagination {
margin: 10px 10px;
font-size: 12pt;
	
}
.rss {
	background-color: #d98b3c;
	box-shadow: inset 0 35px 35px -18px #e1a467;
	background-image: -moz-linear-gradient(top, #e1a467, #d98b3c);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e1a467),color-stop(1, #d98b3c));
}

.links li {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
	margin-left: 10px;
	text-align: left;
	border-bottom: 1px solid #81aeab;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.links li:hover { margin-left: 5px }
.links li a:hover { border: none }

section a li {
	font-size: 10pt;
}

blockquote {
	text-align: center;
	background-color: #005b79;
	font-size: 20px;
	font-style: italic;
	line-height: 26px;
	color: #fff;
	width: 240px;
	padding: 10px 10px 13px;
	position: relative;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: inset 0 100px 50px -50px #0081ac;
	background-image: -moz-linear-gradient(top, #0081ac, #005b79);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #005b79));
	z-index: 3;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	max-width: 220px;
}
blockquote:before {
	position: absolute;
	bottom: -29px;
	left: 20px;
	width: 0;
	height: 30px;
	border-right: 60px solid #005b79;
	background: #005b79;
	border-bottom-right-radius: 70px 50px;
	-moz-border-radius-bottomright: 70px 50px;
	-webkit-border-bottom-right-radius: 70px 50px;
	z-index: 2;
}
blockquote:after {
	position: absolute;
	bottom: -30px;
	left: 2px;
	width: 60px;
	height: 30px;
	background: #ebe8d9;
	border-bottom-right-radius: 40px 50px;
	-moz-border-radius-bottomright: 40px 50px;
	-webkit-border-bottom-right-radius: 40px 50px;
	z-index: 2;
}
blockquote:hover {
	transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.twitterHandle {
	margin: 35px 0 0;
	color: #940033;
	display: block;
	-o-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.9s ease-in-out;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.twitterHandle:hover {
	border: none;
	margin-left: 8px;
}



/* FOOTER */
footer section {
	width: 204px;
	float: left;
	background: #ebe8d9;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10px #629996;
	-moz-box-shadow: 0 0 10px #629996;
	-webkit-box-shadow: 0 0 10px #629996;
	position: relative;
	min-height: 180px;
	margin: 20px 9px 25px 15px;
	padding: 5px;
}

.View_Items {
	margin: 100px 40px;
	width: 300px;
	float: right;
}

footer section:first-child { margin-left: 0 }

#comments li {
	border-bottom: 1px solid #81aeab;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}
#comments li .newLine {
	font-size: 12px;
	text-align: right;
}

.copyright {
	text-align: center;
	margin: 10px 0 30px;
	clear: both;
}

/* Slider CSS */
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:286px;	width: 690px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
	
}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	background: url(paging_bg2.png) no-repeat;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	background: #920000;
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.paging a:hover {font-weight: bold;}

