{% extends 'base_login.html' %}
{% load i18n %}
{% load users_tags %}
{% load sell_tags %}


{% block m_home %}current_menu{% endblock %}

{% block arrow_left %}{% url support %}{% endblock %}
{% block arrow_right %}{% url customers %}{% endblock %}

{% block title_menu_left %}{% trans "Customers" %}{% endblock %}

{% block menu_options %}
	<ul id="tree">
		<li>{% trans "Support" %}
		<ul>
			<li>{% trans "Getting Started" %}</li>
			<li>{% trans "Online Support" %}</li>
			<li>{% trans "Videos" %}</li>
		</ul>
	</ul>
{% endblock %}

{% block body_right %}
<div class="grid_18 home">
	<h2>{% trans "Welcome" %}, {{ shop.name.title }}</h2>
	<div class="grid_7 box">
		<div class="box_header"><h3>{% trans "Set Up Your Web Site" %}</h3></div>
		<div class="box_body">
			<p><a href="{% url item_add %}">{% trans "Add An Item To Your Shop" %}</a></p>
			<p><a href="{% url account_profile %}">{% trans "Add A Picture for The MarketPlace" %}</a></p>
			<p><a href="{% url page_edit_home %}">{% trans "Update your Home Page" %}</a></p>
			<p><a href="{% url post_add %}">{% trans "Write a Blog Post" %}</a></p>
			<p><a href="{% url page_edit_about %}">{% trans "Update About Us" %}</a></p>
			<p><a href="{% url page_create %}">{% trans "Create a New Page" %}</a></p>
		</div>
	</div>
	<div class="grid_7 box">
		<div class="box_header"><h3>{% trans "Set Up Peferences" %}</h3></div>
		<div class="box_body">
			<p><a href="{% url preferences_general %}">{% trans "Configure Your Store" %}</a></p>
			<p><a href="{% url preferences_taxes %}">{% trans "Configure Taxes" %}</a></p>
			<p><a href="{% url preferences_payment_paypal %}">{% trans "Credit Cards an Payments" %}</a></p>
			<p><a href="{% url preferences_shipping %}">{% trans "Shipping" %}</a></p>
			<p><a href="{% url preferences_email %}">{% trans "Customer Email Settings" %}</a></p>
			<p><a href="{% url preferences_dns %}">{% trans "Domain Names" %}</a></p>
		</div>
	</div>
	<div class="grid_7 box">
		<div class="box_header"><h3>{% trans "Customers" %}</h3></div>
		<div class="box_body">
			<p><a href="{% url customers_sold_items %}">{% trans "Sold Items" %}</a></p>
			<p><a href="{% url customers_wish_lists %}">{% trans "Wish List" %}</a></p>
		</div>
	</div>	
	<div class="grid_7 box">
		<div class="box_header"><h3>{% trans "Inventory" %}</h3></div>
		<div class="box_body">
			<p><a href="{% url inventory_overview %}">{% trans "Overview" %}</a></p>
			<p><a href="{% url inventory_items %}">{% trans "Items" %}</a></p>
			<p><a href="{% url inventory_auctions %}">{% trans "Auctions" %}</a></p>
			<p><a href="{% url inventory_categorize %}">{% trans "Categorize" %}</a></p>
		</div>
	</div>	
	<div class="grid_7 box">
		<div class="box_header"><h3>{% trans "Web Store" %}</h3></div>
		<div class="box_body">
			<p><a href="{% url web_store_pages%}">{% trans "Pages" %}</a></p>
			<p><a href="{% url web_store_blogs %}">{% trans "Blogs" %}</a></p>
			<p><a href="{% url web_store_navigation %}">{% trans "Navigation" %}</a></p>
			<p><a href="{% url web_store_theme %}">{% trans "Theme" %}</a></p>
		</div>
	</div>
	<div class="clear"></div>	
</div>
	{% comment %}
		<div class="grid_4 menu_right">
			<h3>{% trans "Support" %}</h3>
			<p>{% trans "Getting Started" %}</p>
			<p>{% trans "Online Support" %}</p>
			<p>{% trans "Videos" %}</p>
		</div>
		<div class="clear"></div>
	{% endcomment %}

{% endblock %}


{% comment %}
	{% block title %}
		<h2>{% blocktrans with shop.views as views and shop.bids as bids %}Your Auctions had {{ views }} Views and {{ bids }} Bids{% endblocktrans %}</h2>
		{% if shop.last_came_from %}
			<p>{% trans "Last Custommer Came from:"%} {{ shop.last_came_from }}</p>
		{% endif %}
	{% endblock %}
	
	{% block main %}
		
		<br/><br/>
	
		<h3>{% trans "To list an item for Sale" %}, <a href="{% url item_add %}">{% trans "Click Here" %}.</a></h3>
	
		<h3>{% trans "To list an Item in Auction" %}, <a href="{% url lot_add %}">{% trans "Click Here" %}.</a></h3>
		
	{% endblock %}
	
	{% block menu%}
		<div class="grid_4 border margin_h padding_h">
			<p>{% trans "Auctions:" %} <a href="">{% trans "Show All" %}</a></p>
			<h4>{% trans "Revenue" %}</h4>
			<p>{% trans "Today" %}: <a href=""> {{ revenue_today|money_format:shop }}</a></p>
			<p>{% trans "This Week" %}: <a href=""> {{ this_week|money_format:shop }}</a></p>
		</div>
		<div class="clear"></div>
		<br/><br/>
	
		<div class="grid_4 margin_h padding_h margin_v padding_v">
			<h3>{% trans "Site Announcements" %}</h3>
			<div class="border-bottom"></div>
			<br/><br/><br/><br/>
		</div>
		<div class="clear"></div>
		<br/><br/>
	
		<div class="grid_4 margin_h padding_h margin_v padding_v">
			<h3>{% trans "Users" %}</h3>
			<div class="border-bottom"></div>
			{% for user in users %}
				<p><a href="">{{ user.username }}</a> {{ user|ago }}</p>
			{% endfor %}
			
			<p><a href="">Steve</a> Last x days ago</p>
			<p><a href="">Sebastian</a> Last Login y hours ago</p>
		</div>
	{% endblock %}
	
{% endcomment %}
