{% extends "default/base.html" %}
{% load i18n %}
{% load sell_tags %}

{% block content %}
<div id="breadcrumbs" class="grid_18">
	<a href="{% url market_home %}">{% trans "Home" %}</a> &raquo; <a href="{% url market_buy %}">{% trans "Buy" %}</a> &raquo; {% trans "Favorites" %}
</div>

<div class="grid_18 block_main_content">

<h3>{% trans "Rick's Picks" %}</h3>

{% for pick in picks %}
<div class="grid_3">
	
	<div class="item_box">
		<a href="{% url market_buy_product_redirect pick.product.id %}" target="_blank">
		<img class="item" src="{{ pick.product.child.image.image.url_100x100 }}" title="{{ pick.product.description|striptags }}"/>
		<div>{{ pick.product.title|truncatewords:5 }}</div>
		<div>{{ pick.product.category.name }}</div>
		<div>{{ pick.product.child.price|money_format:pick.product.shop }}</div>
		</a>
	</div>
	
</div>
{% endfor %}

<div class="clear"></div>

</div>

{% endblock %}