{% extends "default/base.html" %}
{% load i18n %}


{% block content %}
<div class="span8 offset2">
<form action="." method="POST" class="form-stacked alert-message block-message info">
	<fieldset>
		<label>Username</label>
		<input type="text" name="username"/>
		<label>Password</label>
		<input type="password" name="password"/>
			<br/></br>
			<button type="submit" class="btn primary">{% trans "Login" %}</button>
	       	{% if next %}<input type="hidden" name="next" value="{{ next|escape }}" />{% endif %}
	</fieldset>
	<br/><br/>
</form>
</div>
{% endblock %}
