{% extends "default/base.html" %}
{% load i18n %}

{% block content %}
<div id="breadcrumbs" class="grid_18">
	<a href="{% url market_home %}">{% trans "Home" %}</a> &raquo; <a href="{% url market_buy %}">{% trans "Buy" %}</a> &raquo; {% trans "Top Sellers" %}
</div>

<div class="grid_13 block_main_content">

<h3>{% trans "Top Seller of the Week" %}</h3>

{% if best_sellers %}
{% with best_sellers.0 as best_seller %}

<p>{% trans "Week" %} {{ best_seller.from_date|date:"d M Y" }}</p>
<div class="grid_6 ">
	<a href="http://{{ best_seller.shop.default_dns }}" target="_blank">
	<div class="dealer_box">
		{% if best_seller.shop.owner.get_profile.photo %}
		<img class="item" alt="{{ best_seller.shop.name }}" src="{{ best_seller.shop.owner.get_profile.photo.url_128x135 }}" height="210" width="210"/>
		{% else %}
		<img class="item" alt="{{ best_seller.shop.name }}" src="{{ MEDIA_URL }}img/no-photo-big.jpg" height="128" width="135"/>
		{% endif %}
	</div>
	</a>
	<div class="clear"></div>
	{% for product in best_seller.shop.last_posted_products %}
	<div class="grid_3 omega alpha">
		<a href="{% url market_buy_product_redirect product.id %}" target="_blank">
		{% if product.child.image %}
	 	<img class="item" src="{{ product.child.image.image.url_100x100 }}" title="{{ product.description|striptags }}"/>
	 	{% else %}
	 	<img class="item" src="{{ MEDIA_URL }}img/no-photo-medium.jpg" title="{{ product.description|striptags }}"/>
	 	{% endif %}
		<p>{{ product.title|title }}</p>
		</a>
	</div>
	{% endfor %}
</div>

<div class="grid_6 margin_v">
	<div class="margin_v">
		<h1>{% trans "Store" %}</h1>
		<h2>{{ best_seller.shop.name_shop }} ({{ best_seller.shop.admin.get_full_name }})</h2>
		<a href="http://{{ best_seller.shop.default_dns }}" target="_blank">{{ best_seller.shop.default_dns }}</a>
	</div>
	<br/><br/>
	<div class="margin_v">
		<h1>{% trans "About Us" %}</h1>
		{% if best_seller.shop.about %}
		{{ best_seller.shop.about.body|safe }}
		{% else %}
		<p>-- {% url "No Description" %} --</p>
		{% endif %}
	</div>
</div>

{% endwith %}
{% else %}

<div>No best sellers found</div>

{% endif %}

<div class="clear"></div>

</div>

<div class="grid_4 block_filter">
{% if best_sellers.count > 1 %}
<h4>{% trans "Previous Top Sellers" %}</h4>
{% for best_seller in best_sellers %}
{% if forloop.first %}
{% else %}
<div class="margin_v">
	{% if best_seller.shop.owner.get_profile.photo %}
	<img class="item" alt="{{ best_seller.shop.name }}" src="{{ best_seller.shop.owner.get_profile.photo.url_128x135 }}" height="55" width="55"/>
	{% else %}
	<img class="item" alt="{{ best_seller.shop.name }}" src="{{ MEDIA_URL }}img/no-photo-big.jpg" height="55" width="55"/>
	{% endif %}
	<div>{% trans "Week" %} {{ best_seller.from_date|date:"d M Y" }}</div>
	<div>{{ best_seller.shop.name_shop }}</div>
</div>
{% endif %}
{% endfor %}
{% else %}
<div>{% trans "No previously best sellers found" %}</div>
{% endif %}

</div>

{% endblock %}