{% extends 'base_login.html' %}
{% load i18n %}
{% load sell_tags %}

{% block title %}
	<h2>{% trans "Item Details" %}: {{ item.title|title }}</h2>
{% endblock %}

{% block main %}
	<div class="grid_8 text_justify">
		<h3>{% trans "Item Description" %}</h3>
		<p>{{ item.description|safe|linebreaks }}</p>
	</div>
	
	<div class="grid_6 margin_h padding_h">
		<h3>{% trans "Item Images" %}</h3>
		
		<div id="images">
		{% for img in item.imageitem_set.all %}		
			<div class="grid_3 alpha omega">
				<img src="{{ img.image.url_100x100 }}" height="100"/>
				<a href="{% url del_item_image item.id img.id %}">{% trans "Delete" %}</a><br/>
				{% if img.primary_picture %}
				Primary Picture
				{% else %}
				<a href="{% url set_forsale_primary_picture item.id img.id %}">{% trans "Set as Primary" %}</a>
				{% endif %}
			</div>
		{% endfor %}
		</div>
		<div class="clear"></div>
		<br/><br/>
		
		<div class="grid_5">
			<form action="{% url add_item_image item.id %}" method="POST" name="form_image" enctype="multipart/form-data">
				{{ image_form.as_p }}
				<a href="javascript:document.form_image.submit();" class="small awesome">{% trans "Add Image" %}</a>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

	<div class="grid_14 margin_v">
		<h3>{% trans "Item Properties" %}</h3>

		<p>{% trans "Auction Category" %}: {{ item.category.name }} </p>
		<p>{% trans "Auction SubCategory" %}: {{ item.subcategory.name }} </p>
		<p>{% trans "Qty" %}: {{ item.qty  }}</p>
		<p>{% trans "Weight" %}: {{ item.weight  }}</p>
		<p>{% trans "Price" %}: {{ item.price|money_format:shop  }}</p>
		

	</div>
	<div class="clear"></div>
				

{% endblock %}

{% block menu %}
	{% include 'for_sale/items_menu.html' %}
{% endblock %}