{% extends 'preferences/preferences_payment.html' %}
{% load uni_form_tags %}
{% load i18n %}

{% block main %}
	
	<div class="grid_15" style="background: white">
		<div class="grid_5">
			<img src="{{ MEDIA_URL }}img/braintree-logo.png"/>
			<div class="grid_5 prefix_1">
				{% if braintree_settings %}
				<a class="small awesome" href="{% url delete_braintree_settings braintree_settings.id %}">{% trans "Deactivate" %}</a>
				{% endif %}
			</div>
		</div>
		<div class="grid_9 alpha omega">
			<h4>{% trans "Braintree Settings" %}</h4>
			{% comment %}
			<div>
				To enable this service you must provide your Braintree Credentials. ex:<br/>
				<div style="background: #FFFFEE; font-size: 8px; margin-top:5px; margin-bottom: 5px; padding: 10px; width: 270px">
				MERCHANT_ID :gdpmnbt3rk3sg2cg <br/>
				PUBLIC_KEY : gbzqc5m58uyttk5x <br/>
				PRIVATE_KEY : m9343rs35g9pddkh
				</div>
			</div>
			{% endcomment %}
			<form action="{% url save_braintree_settings %}" method="POST" class="uniForm">
				<fieldset class="blockLabels">
					{{ braintree_form|as_uni_form }}
					<div class="buttonHolder">
						<button class="small awesome" type="submit">{% trans 'Save' %}</button>
					</div>
				</fieldset>
			</form>
			<br></br>
		</div>
		<div class="clear"></div>
	</div>
	
{% endblock %}