{% extends 'store_admin/preferences/base_preferences.html' %}
{% load i18n uni_form_tags %}

{% block m_policies %}current_sub_menu{% endblock %}

{% block title_sub_menu %}Web Store Policies Settings{% endblock %}

{% block menu_options %}
{% endblock %}

{% block main %}
	<h5>{% trans "Put your Refund, Privacy and Terms of Service Here" %}</h5>

	<form action="." method="POST" class="uniForm">
		<fieldset class="blockLabels">
			{{ form|as_uni_form }}
			<div class="buttonHolder">
				<button type="submit" class="awesome small">{% trans "Save Policies" %}</button>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block menu %}
	{% include 'preferences/preferences_menu.html' %}
{% endblock %}