{% extends 'store_admin/preferences/base_preferences.html' %}
{% load i18n uni_form_tags %}

{% block m_taxes %}current_sub_menu{% endblock %}

{% block title_sub_menu %}Taxes Settings{% endblock %}

{% block super_main %}
	
	<form action="." method="POST" name="form_tax" class="uniForm">
		<fieldset class="inlineLabels">
			<div class="multiField">
				{{ form_tax|as_uni_form }}
			</div>
		</fieldset>
		<fieldset class="inlineLabels">
			<div class="buttonHolder multiField">
				<button type="submit" class="awesome small">{% trans "Add Tax" %}</button> or <a href="{% url preferences_taxes %}">{% trans "Cancel" %}</a>
			</div>
		</fieldset>
	</form>
		
{% endblock %}

{% block menu %}
	{% include 'preferences/preferences_menu.html' %}
{% endblock %}