{% extends "default/base.html" %}

{% load i18n %}
{% block content %}

{% if marketplans %}
<div class="span16">
<div class="PriceCols-wrap">
	<h2>A {{ marketplace.title }} Shop At Your Price</h2>
		{% for plan in marketplans %}
		<div class="{{ plan.name }} PriceCol-{{ plan.id }} span5">
    			<div class="Plan-Title">
        			<h3>{{ plan.name|title }}</h3>
    			</div>
    			<div class="divider">
			</div>
			<div class="Plan-Price">
       				 $ {{ plan.price }}
    			</div>
    			<div class="divider">
			</div>
			 <div class="Plan-Description">
        			{{ plan.description|safe }}
    			</div>
    			<div class="divider">
			</div>

		</div>
		{% endfor %}
</div> 
</div>

<div class="SignUpFeaturePage span11 offset2 alert-message block-message success">
<div class="SignUpCopyText span6">
<h2>Try {{ marketplace.title|title }} !!!</h2>
<h4>Get Started in 45 seconds, no hassles, no fuss</H4>
</div>
<a href="{% url market_sell %}" name="1-plan_id" class= "btn success" value="{{ plan.id }}" />
Create Your Shop</a>
</div>



{% else%}
        <div class="alert-message info">There are no Plans for this marketplace!</div>
{% endif %} 
{% endblock content %}
