{% extends "default/base.html" %}
{% load i18n %}

{% block content %}
<ul class="breadcrumb">
 <li><a href="{% url market_home %}">{% trans "Home" %}</a><span class="divider"> / </span></li>
 <li><a href="{% url market_sell %}">{% trans "Privacy Policy" %}</a></li>
</ul>

{% block filter_content %}
<div class="sidebar">
 <div class="well">
	<h5>{% trans "Dealer Resources" %}</h5>
	<ul class="sell_dealer_resources">
		<li><a class="sell_dealer_resources" href="/">{% trans "Create an account" %}</a></li>
		<li><a class="sell_dealer_resources" href="/">{% trans "Naming my Store" %}</a></li>
		<li><a class="sell_dealer_resources" href="/">{% trans "Do'es and Don't" %}</a></li>
		<li><a class="sell_dealer_resources" href="/">{% trans "Fees/Pricing" %}</a></li>
		<li><a class="sell_dealer_resources" href="/">{% trans "Selling FAQ" %}</a></li>
		<li><a class="sell_dealer_resources" href="{% url market_privacy_policy %}">{% trans "Privacy Policy" %}</a></li>
	</ul>
</div>
</div>

{% endblock %}

<div class="span12">
	
<h2>{% trans "Privacy Policy" %}</h2>
{{ marketplace.privacy_policy|removetags:"pre span"|safe }}
</div>

{% endblock %}

