{% extends "default/sell/signup_wizard_base.html" %}

{% load i18n %}

{% block step %}

{% if plans %}
<div class="span16">
<div class="WizardHeader">
	<h2>A {{ marketplace.title }} Shop At Your Price</h2>
</div>


{% for plan in plans %}
<div class="{{ plan.name }} PriceCol-{{ plan.id }} span5">
    <div class="Plan-Title">
        <h3>{{ plan.name|title }}</h3>
    </div>
    <div class="divider"></div>

    <div class="Plan-Price">
        $ {{ plan.price }}
    </div>
    <div class="divider"></div>

    <div class="Plan-Description">
        {{ plan.description }}
    </div>
    <div class="divider"></div>

    <div class="PlanHighlight{{plan.name}}">
    {% if plan.name == "Premier" %}
        <div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" data-content="{{ plan.description }}" rel="popover">Core Features</a></div>
        <div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Unlimited Pictures</a></div>
        <div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Marketing</a></div>
        <div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Inventory</a></div>
        <div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Tools</a></div>
        <script>
        $(function () {
          $("a[rel=popover]")
            .popover({
              offset: 10
            })
            .click(function(e) {
              e.preventDefault()
            })
        })
        </script>
	</br>
	</br>
    {% endif %}
    {% if plan.name == "Business" %}
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Core Features</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Unlimited Pictures</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Marketing</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Inventory</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Tools</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Core Features</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Unlimited Pictures</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Marketing</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Inventory</a></div>
	<div class="btn disabled PlanList"><a data-placement="below" href="#" animate="True" title="{{plan.name}}" rel="popover">Tools</a></div>
    <script>
            $(function () {
              $("a[rel=popover]")
                .popover({
                  offset: 10
                })
                .click(function(e) {
                  e.preventDefault()
                })
            })
     </script>
	</br>
	</br>
    {% endif %}
    </div> 

    <div class="PlanFeatures{{plan.name}}">
    </br>
    </br>
    </div>
    <form action="." method="POST">
    {% csrf_token %}
    <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
    {{ previous_fields|safe }}
    <input type="hidden" name="1-plan_id" value="{{ plan.id }}" /> 
    <div class="PlanBuy">
        <button type="submit" class="btn success">Sign Up For {{ plan.name|title }}</button>	
    </div>
    </form>
</div>
{% endfor %}
</div> 
{% else%}
    {% if promotional_code %}
        <div class="alert-message warning">There is no plan that match with that code!</div>
	{% else %}
        <div class="alert-message info">There are no Plans for this marketplace!</div>
	{% endif %}
{% endif %} 
{% endblock %}
