{% extends "default/sell/signup_wizard_base.html" %}

{% load i18n %}

{% block step %}
<form name="form" method="post" action="." class="wizard">
	
	{% csrf_token %}
	{% for field in form %}
	{% if field.errors %}<div class="error">{{ field.errors|join:", " }}</div>{% endif %}
	<h4>{{ field.label }}</h4>
	{{ field }} {{ field.help_text }}
	<br/><br/>
	{% endfor %}
	
	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	{{ previous_fields|safe }}
	<div class="buttonHolder">
		<br/>
		<button type="submit" class="button_next">{% trans "Next" %}</button>
       	<input type="hidden" name="next" value="{{ next|escape }}" />
    </div>
	
</form>

<style>
#id_0-shop_name {
	width: 150px;
}
</style>

<script type="text/javascript"> 
$("#id_0-name_store").keyup(function(e){
    var name = $(this).val();
   	$("#id_0-shop_name").val(name.toLowerCase().replace(/[^a-z0-9-]/ig, ''));
}); 

$("#id_0-shop_name").change(function(){
	var name = $(this).val();
	$(this).val(name.toLowerCase().replace(/[^a-z0-9-]/ig, ''));
});

</script> 
{% endblock %}
