/* --- core elements --------------------------------------------------------------------------- */

html { height: 100%; }
img { border: 0 none; -ms-interpolation-mode: bicubic; }
body { 
	border: 0px; 
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	background: url(/media/img/bg-bokeh-sub.jpg) repeat-x 50% 0 #F4F4F4;
	/*background: url(/media/img/bg-blk-stripe-tall.jpg) repeat-x 50% 0 #F4F4F4;*/
	color:#777777;
	font-family:Arial,Helvetica,Geneva,sans-serif;
	font-size:12px;
	}
td { background: transparent; border: 0px; margin: 0px; padding: 0px; }
p { margin-bottom: 1em; margin-top: 0em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0px; padding: 0px; }
ul { list-style-type: square; /* naturally. */ margin: 1em 0 1em; padding: 0; padding-left: 2em; }
form { margin:0; padding: 0; }

a { -moz-outline:none; color:#FFFFFF} 

/*a:link, a:visited, a:active {
	color:#262626;
	text-decoration:none;
}
a:visited  {
	 !important;
}*/
	
h1 {
	color:#FFFFFF !important;
	font-size:50px;
	text-shadow: 1px 1px 5px #fff;
}

h2 {
	text-shadow: 1px 1px 0px #CCC;	
}

	
input.button, input.button[disabled] { font-size: 12px; padding: 2px 5px 3px 5px; -moz-outline: 0; }
input.button-important { font-size: 12px; padding: 2px 5px 3px 5px; -moz-outline: 0; font-weight: bold; }  
input.text, input.text-fixed, textarea, select { font: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; }
input.text { width: 300px; }
input.text-fixed { width: 300px; }
textarea { height: 120px; }


/* --------------------------------------------------------------------------------------------- */
#canvas{
	background: url("/media/img/bokeh-header-sub-bw.jpg") no-repeat scroll 50% 0 transparent !important
}	
		
#header{
	height: 400px;
	overflow: visible;
	margin:0 auto;
	width:960px;	
}

#header_link{
	padding-top: 10px;
}

#header_link a{
	text-decoration:none;
	font-size:11px;
	letter-spacing:1px;
	text-shadow: 1px 1px 0px #000;
}
	
#header_link a:link { color: #606060; text-decoration: none; }
#header_link a:visited { color: #606060; text-decoration: none; }
#header_link a:hover { color: #777; text-decoration: none; }
#header_link a:active { color: #606060; text-decoration: none; }

#header_more_link {padding-top:40px; float:right; text-shadow: 1px 1px 0px #000;}
#header_more_link a{
	color:#8A8A8A;
	font-size:14px;
	font-weight:normal;
	letter-spacing:2px;
	line-height:1em;
	margin-bottom:6px;
	margin-right:28px;
	text-decoration:none;
	text-transform:uppercase;
}

#header_more_link a:hover{color: #FFFFFF;}
			
#header_logo{
	height:200px;
	padding-top:20px;
}

#header_text{
	height: 130px;
}

#header_text .subtitle{
	color:#929292;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size:17px;
	font-weight:300;
	letter-spacing:1px;
	line-height:1.6em;
	margin-top:-2px;
	padding-bottom:15px;
	text-shadow: 1px 1px 0px #000;
}

.white{
	color:#FFFFFF;
	font-weight:normal;
}

.sign_up{
	background:url("/media/img/sign_up.png") no-repeat scroll 0 0 transparent;
	border:medium none;
	float:right;
	height:61px;
	width:217px;
}


			
#container{
	 margin-left:auto;
	 margin-right:auto;
	 width:960px;	
}
	
#container h2{
	color:#2D2D2D;
	font-family:'Trebuchet MS',Trebuchet,Verdana,sans-serif;
	margin:0;
	padding:0 0 12px;
	text-transform:none;
	font-size:20px;
	font-weight:bold;
	padding-bottom:6px;	
}
	
	
#footer{
	width:100px;	
	background: url(/media/img/footer-bg.jpg)repeat-x 50% 0;
	/*text-shadow:0 -1px 1px #000000;*/
	
	width:100% !important;
	height: 185px;
}

#page_footer{
	height:35px;
	margin:0 auto;
	padding-top:80px;
	width:960px;
	text-shadow: 1px 1px 0px #000;
}
	
.blue{
	color: blue;
}

.error{
	color: #444444; 
	background: #ffdfdf;
	margin: 15px 0 0 0px; 
	padding: 3px;
/*	width: 200px;*/
}

/***************** LOGIN/REGISTER/SIGNUP STYLE *********************/

.big_form fieldset { position:relative; margin:1em auto; width:420px; padding:30px 60px; }
.big_form .submit{ margin-bottom: 0; text-align: right; }
.big_form .errors { float:right; text-align:right; }
.big_form label { float:none; width:auto; margin-bottom:0px; font-size:0.9em; text-align:left; line-height: 18px; font-family: Arial}
.big_form input { float:none; width:405px; font-size:1.5em; text-align:left; margin-bottom:10px; }
.big_form input#id_shop_name { float:none; width:305px; font-size:1.5em; text-align:left; margin-bottom:10px; }
.big_form input#id_terms { float:left; width: 20px; font-size:1.5em; text-align:left; margin-bottom:10px; }
.big_form button { width: 420px !important; }


.register {
    position: relative;
}

.register .button_primary {
    width: 420px;
    margin: 0 auto;
}

fieldset { 
	margin:1em 0; 
	padding:20px;
	border: 10px solid #eee;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    background-color:#FFFFFF; 
}

.button_primary {
    border: 1px solid #ccc;
    cursor: pointer;
    float: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
    width: 610px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#lip {
    background: #B92F1E url(/media/img/lip_bg.png) top left repeat-x;
    border: 1px solid #fff;
    border-bottom: none;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 5px 0px;
    position: absolute;
    margin-left: 0px;
    margin-top: -75px;
    text-align: center;
    text-shadow: 1px 1px #000;
    width: 408px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.table {
	background: #CFE0EF;
	font-size: 14px;
}


.t-column {
	width: 150px;
	float: left;
}

.th {
	font-weight: bold;
	padding-top: 5px;
	width: 170px;
	height: 30px;
}

.tr {
	height: 30px;
	text-align: center;
	padding-top: 5px;
}

.tr .price {
	font-size : 24px;
	color: black;
	background: #CECECE;
	padding: 2px;
	border: 4px solid #eee;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
}

.light_box {
	padding:15px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFECD7 none repeat scroll 0 0;
	border:1px solid #E0BB3E;
	margin:0 0 25px;
}

.center {
	text-align: center;
}