django<1.3
MySQL-python
PIL==1.1.7
braintree==2.4.0
django-flash==1.7.2
gchecky==0.2.1
boto==1.9b
pysolr==2.0.12
django-haystack==1.0.1-final
Jinja2>=2.5
httplib2
coverage
DjangoSEO
django-debug-toolbar
django-seo
