django<1.4
MySQL-python
PIL==1.1.7
#M2Crypto==0.21.1
#braintree==2.4.0
braintree==2.10
django-flash==1.7.2
gchecky==0.2.1
boto==1.9b
pysolr==2.0.13
django-haystack==1.2.6
Jinja2>=2.5
httplib2
coverage
DjangoSEO
django-debug-toolbar
django-seo
textile
git+git://github.com/Tivix/django-cron.git
django-extensions
django-simple-captcha
django-tinymce
pyenchant
django_compressor
python-twitter
bitlyapi
django-pagination
python-memcached
django-social-auth
