{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block head_title %}Collectorcity MarketPlace{% endblock %}</title>
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.treeview.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />

	{% if REQUEST_IS_SECURE %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
	<script src="https://www.google.com/jsapi?key={{ GOOGLE_KEY }}" type="text/javascript"></script>
    {% else %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="http://www.google.com/jsapi?key={{ GOOGLE_KEY }}" type="text/javascript"></script>
    {% endif %}
	<script src="{{ MEDIA_URL }}js/imgpreview.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/jquery.treeview.min.js" type="text/javascript"></script>
	
</head>
   
<body>
	<div>
	{% block body %}
		<div class="block_login">
			<div class="block_login_options">
			{% if user.is_authenticated %}
			<span style="color: maroon; text-shadow: 1px 1px 1px white">Welcome {{ user }}</span> |  
			{% endif %}
			<a href="{% url community_faq %}#what-is-greatcoinscom">{% trans "About Us" %}</a> |
			<a href="{% url market_contact_us %}">{% trans "Contact Us" %}</a> |
			<a href="{% url community_faq %}">{% trans "Help" %}</a> |
			{% if user.is_authenticated %}
			<a href="{% url logout %}">{% trans "Logout" %}</a>
			{% else %}
			<a href="{% url market_buy_login %}">{% trans "Login" %}</a> | 
			<a href="{% url market_buy_signup %}">{% trans "Sign Up" %}</a> 
			{% endif %}
			</div>
		</div>
		
		<div class="clear"></div>
		
		{% block top_header %}
		
		<div class="header_marketplace">
			<div class="container_20">
				<div class="grid_7">
					<a href="/"><img class="header_logo" src="{{ MEDIA_URL }}img/gc_logo.png" alt="Logo Here!"/></a>
				</div>
				<div class="grid_6 header_options">
					<ul> 
						<li><a href="{% url market_buy %}">{% trans "Buy" %}</a></li>
						<li><a href="{% url market_sell %}">{% trans "Sell" %}</a></li>
						<li><a href="{% url market_community %}">{% trans "Community" %}</a></li>
						<li><a href="{% url market_blog %}">{% trans "Blog" %}</a></li>
					</ul>
				</div>
				<div class="header_search">
				<form action="{% url market_search %}" method="GET" name="search">
					<select id="category" name="category">
						<option>All Categories</option>					
						{% for category in marketplace.marketcategory_set.all %}
						<option>{{ category.name }}</option>
						{% endfor %}
					</select>
					<input size="12" type="text" id="q" name="q"/>
					<input type="image" class="img" id="search-icon" style="float: right;" alt=""/>
				</form>
				</div>
			</div>
		</div>	
		
		{% endblock %}
		<div class="container_20">
			<div class="grid_20">
				<div class="grid_19 main_content">
					<div class="block_notification">
						{% if flash.message %}
					        <div class="grid_19" id="flash_message">
					        <div class="body {{ flash.severity|default:"notice" }}">
					        	<p>{{ flash.message|safe }}</p>
					        </div>
					        </div>
				    	{% endif %}
						<div class="clear"></div>
						{% block header %}{% endblock %}
					</div>
					<div class="main_content_header"></div>
					<div class="main_content_inner">
						{% block content %}{% endblock %}
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="main_content_footer"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="block_footer">
			<div class="container_20">
				<div class="grid_20">
					<div style="padding: 10px;">
					{% block footer %}
					<div class="grid_17">©2010 {{ marketplace.name }} is a registered trademark of CollectorCity.com</div>
					<div class="grid_2"><a href="{% url market_privacy_policy %}">{% trans "Privacy Policy" %}</a></div> 
					{% endblock %}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	</div>

{% block body_footer %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20238336-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}

</body>
</html>
