{% extends "default/base.html" %}
{% load i18n %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url market_home %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
		<li class="active"><a href="{% url market_buy %}">{% trans "Buy" %}</a></li>
	</ul>
<div class="sidebar">
<div class="well">
	<h4>Recent Listings</h4>
	{% for product in recently_products %}
	{% if product.child.image %}
	<a href="{% url market_buy_product_redirect product.id %}" target="_blank"><img class="item" title="{{ product.title }}" src="{{ product.child.image.image.url_100x100 }}" height="42" width="46"/></a>
	{% else %}
	<a href="{% url market_buy_product_redirect product.id %}" target="_blank"><img class="item" title="{{ product.title }}" src="{{ MEDIA_URL }}img/no-photo-small.jpg" height="42" width="46"/></a>
	{% endif %}
	{% endfor %}
</div>
</div>

<div class="content">
   <h2>{% trans "Buy On" %} {{ marketplace.name }}</h2>
	<h5>Find the Coin you've always looked for with our extensive marketplace of dealers. You must sign up to buy. It's free - you can <a href="{% url market_buy_signup %}">sign up here</a>.
Have a question? <a href="">Click Here</a></h5>
<div class="span10">
<table class="NoBorderTable">
  <thead>
    <tr>
   </tr>
  </thead>
  <tbody>
   <tr>
	<td><a href="{% url buy_categories %}"><img alt="Coins" src="{{ MEDIA_URL }}img/categories.jpg"></img></a></td>
  	<td><a href="{% url buy_categories %}"><h2>{% trans "Categories" %}</h2></a><a href="{% url buy_categories %}"><p>Steve Look through our categories like you're used to</p></a></td>
   </tr>
   <tr>	
	<td><a href="{% url buy_advanced_search_reset %}"><img alt="Coins" src="{{ MEDIA_URL }}img/advanced-search.jpg"></img></a></td>
	<td><a href="{% url buy_advanced_search_reset %}"><h2>{% trans "Advanced Search" %}</h2><p>Use this tool to narrow your search results</p></a></td>
   </tr>
   <tr>
	<td><a href="{% url buy_wish_list %}"><img alt="Wish List" src="{{ MEDIA_URL }}img/wish-list.jpg"></img></a></td>
	<td><a href="{% url buy_wish_list %}"><h2>{% trans "Wish List" %}</h2><p>Submit Your Wish to all Dealers</p></a></td>
   </tr>
   <tr>
	<td><a href="{% url buy_latest_items %}"><img alt="Latest Posts" src="{{ MEDIA_URL }}img/latest-items.jpg"></img></a></td>
	<td><a href="{% url buy_latest_items %}"><h2>{% trans "Find The Latest Items" %}</h2><p>Find coins from new stores, just recently posted stores</p></a></td>
   </tr>
    <tr>
	<td><a href="{% url buy_shop_local %}">	<img alt="Shop Local" src="{{ MEDIA_URL }}img/shop-local.jpg"></img></a></td>
	<td><a href="{% url buy_shop_local %}"><h2>{% trans "Shop Local" %}</h2><p>Find a coin dealer near you</p></a></td>
    </tr>

   <tr>
	<td><a href="{% url buy_editor_pick %}"><img alt="Favorites" src="{{ MEDIA_URL }}img/ricks-picks.jpg"></img></a></td>
	<td><a href="{% url buy_editor_pick %}"><h2>{% trans "Rick's Pick" %}</h2><p>Rick's Favorite Coins</p></a></td>
   </tr>
     <tr>
	<td><a href="{% url buy_map_pick %}"><img alt="Map Pick" src="{{ MEDIA_URL }}img/map-pick.jpg"></img></a></td>
	<td><a href="{% url buy_map_pick %}"><h2>{% trans "Map Pick" %}</h2><p>Show a map of all Shops</p></a></td>
    </tr>	
     <tr>
	<td><a href="{% url buy_show_listing %}"><img alt="Show Listing" src="{{ MEDIA_URL }}img/show-listing.jpg"></img></a></td>
	<td><a href="{% url buy_show_listing %}"><h2>{% trans "Show Listing" %}</h2><p>Shop By Dealers At Your Local Coin Show</p></a></td>
    </tr>	
     <tr>
	<td><a href="{% url buy_top_sellers %}"><img alt="Top Sellers" src="{{ MEDIA_URL }}img/top-sellers.jpg"></img></a></td>
	<td><a href="{% url buy_top_sellers %}"><h2>{% trans "Top Sellers" %}</h2><p>Browse By Top Sellerss</p></a></td>
    </tr>	
</tbody>
</table>
</div>
</div>
{% endblock %}
