{% extends "default/base.html" %}
{% load i18n %}

{% block meta_keywords %}marketplace community keywords here{% endblock %}

{% block content %}

<ul class="breadcrumb">
 <li><a href="{% url market_home %}">{% trans "Home" %}</a><span class="divider">/</span>
 <li class="active">{% trans "Community" %}</li>
</ul>

<div class="sidebar">
 <div class="well">
	<h5>{{ marketplace.title }}</h5>
	<a href="https://twitter.com/great_coins" class="twitter-follow-button">Follow @great_coins</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
		<div class="fb-like" data-href="http://www.facebook.com/pages/Great-Coins/133656090014195" data-send="true" data-layout="button_count" data-width="46" data-show-faces="true" data-font="verdana"></div>
			
	</ul>
	
	<h5>{% trans "Newsletter" %}</h5>
    <form action="." method="POST" class="stacked-form">
    	
    	{% if mailing_list_form.email.errors %}<div class="alert-message warning">{{ mailing_list_form.email.errors|join:", " }}</div>{% endif %}
		{{ mailing_list_form.email.label.title }}
		{{ mailing_list_form.email }}
	 	{{ mailing_list_form.email.help_text }}
		<input class="btn primary" type="submit" value="{% trans 'Subscribe' %}"></input>
    </form>
	
 </div>
</div>


<div class="span12">
	<h2>{{ marketplace.title }} {% trans "Community" %}</h2>
	<div id="community_navbar">
		<ul class="tabs">
		<li class="{% block overview_selection %}{% endblock %}"><a href="{% url community_overview %}">{% trans "Overview" %}</a></li>
		<li class="{% block forums_selection %}{% endblock %}"><a href="{% url community_forums %}">{% trans "Forums" %}</a></li>
		<li class="{% block blogs_selection %}{% endblock %}"><a href="{% url community_blogs %}">{% trans "Member Blogs" %}</a></li>
		<li class="{% block faq_selection %}{% endblock %}"><a href="{% url community_faq %}">{% trans "FAQ" %}</a></li>
		<li class="{% block profiles_selection %}{% endblock %}"><a href="{% url community_profiles %}">{% trans "Profiles" %}</a></li>
		</ul>
	</div>
{% block community_content %}{% endblock %}

{% endblock %}
</div>
