{% extends "default/base.html" %}
{% load i18n %}
{% load sell_tags %}

{% block content %}

<ul class="breadcrumb">
 <li><a href="{% url market_home %}">{% trans "Home" %}</a><span class="divider">/</span></li>
 <li class="active">{% trans "Contact Us" %}</li>
</ul>

{% block main_content %}
<div class="span8 offset2">
<ul class="tabs">
 <li><a href="#ContactUs">Contact Us</a></li>
 <li><a href="#FeedBack">Survey</a></li>
</ul>

<div class="pill-content">
<div id="ContactUs">
	<h4>{% trans "If you want to contact us, please fill the form and a member of our team will response as soon as posible." %}</h4>
	<form action="{% url market_contact_us %}" method="POST" class="form-stacked">
 	<fieldset>	
	<label>{% trans "Your Name" %}</label><input type="text" name="name"/>
	<label>{% trans "Phone" %}</label><input type="text" name="phone"/>
	<label>{% trans "Email" %}</label><input type="text" name="email"/>
	<label>{% trans "Message" %}</label>
	<textarea rows="10" cols="40" name="message" ></textarea>
	</br></br>
	<button class="btn primary" type="submit">{% trans "Send" %}</button>
	</fieldset>
	</form>
</div>

<div class="span4">

{% block contact_details %}
{% endblock %}
{% endblock %}
</div>
</div>

<div id="FeedBack">
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var m7x0w7 = new WufooForm();
m7x0w7.initialize({
'userName':'greatcoins', 
'formHash':'m7x0w7', 
'autoResize':true,
'height':'551',
'header':'show', 
'ssl':true});
m7x0w7.display();
</script>

</div>

<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>


</div>
{% endblock %}
