{% extends "default/base.html" %}
{% load i18n %}
{% load sell_tags %}


{% block content %}

{% comment %}
<div class="grid_18 margin_h">
	<h1>Welcome to {{ marketplace.name }}</h1>
</div>
<br/><br/>
{% endcomment %}

{% block filter_content %}
<div class="grid_4">
	<div class="block_filter">
	<h4>{% trans "CATEGORIES" %}</h4>
	<ul>
	{% for category in marketplace.marketcategory_set.all %}
		<li><a href="{% url market_search_category category.slug %}">{{ category.name }}</a></li>
	{% endfor %}
	</ul>
	<h4>{% trans "SHOP" %} {{ marketplace.name.upper }}</h4>
	<ul>
		<li><a href="{% url market_auctions %}">{% trans "Auctions" %}</a></li>
		<li><a href="{% url market_for_sale %}">{% trans "Items For Sale" %}</a></li>
	</ul>
	</div>
</div>
{% endblock %}

{% block main_content %}
<div class="grid_14 margin_h">

<div class="block_main_content">

<div class="border-bottom">
	<h1>{{ marketplace.name.upper }} PICKS</h1>
	<br/>
	{% for pick in market_place_picks %}
		<div class="item_box">
			<a href="{% url market_buy_product_redirect pick.product.id %}" target="_blank">
			{% if pick.product.child.image %}
			<img class="item" src="{{ pick.product.child.image.image.url_100x100 }}" title="{{ pick.product.description|striptags }}"/>
			{% else %}
			<img class="item" src="{{ MEDIA_URL }}img/no-photo-medium.jpg" title="{{ pick.product.description|striptags }}"/>
			{% endif %}
			</a>
			<div class="title">{{ pick.product.title|truncatewords:5 }}</div>
			<div class="dealer">{{ pick.product.child.shop.name|truncatewords:2 }}</div>
			{% with pick.product.child.price|money_format2:pick.product.shop as price %}
				<div class="price">{{ price.0 }}.<span class="price_small">{{ price.1 }}</span></div>
			{% endwith %}
		</div>
	{% endfor %}
	
	<div class="clear"></div>
	<br/>
	<br/>
</div>

<div class="border-bottom">
	<h1>{% trans "FEATURED DEALERS" %}</h1><br/>
	
	{% for pick in featured_dealers %}

		<div class="dealer_box">
			<a href="http://{{ pick.shop.default_dns }}" target="_blank">
			{% if pick.shop.owner.get_profile.photo %}
				<img class="item" alt="{{ pick.shop.name }}" src="{{ pick.shop.owner.get_profile.photo.url_400x400 }}" height="100" width="100"/>
			{% else %}
				<img class="item" alt="{{ pick.shop.name }}" src="{{ MEDIA_URL }}img/no-photo-shop.png" height="100" width="100"/>
			{% endif %}
			</a>
			<div class="description">
				<h2>{{ pick.shop.admin.get_full_name }}</h2>
				<p>{{ pick.description|safe|truncatewords:30 }}</p>
			</div>
		</div>
		
	{% endfor %}

	<div class="clear"></div>
	<br/>
	<br/>
</div>

<div>
	<h1>{% trans "RECENTLY LISTED ITEMS" %}</h1><br/>
	
	{% for product in recently_products %}
	{% if product.child.image %}
		<a href="{% url market_buy_product_redirect product.id %}" target="_blank"><img class="item" title="{{ product.title }}" src="{{ product.child.image.image.url_100x100 }}" height="46" width="46"/></a>
	{% else %}
		<a href="{% url market_buy_product_redirect product.id %}" target="_blank"><img class="item" title="{{ product.title }}" src="{{ MEDIA_URL }}img/no-photo-small.jpg" height="46" width="46"/></a>
	{% endif %}
	
	{% endfor %}
	
	<div class="clear"></div>
	</div>
</div>

</div>
{% endblock %}

{% endblock %}
