{% load i18n %}

{% load markup %}

<div class="market_post">
	<a href="{% url market_blog_view_post post.slug %}"> <h2>{{ post.title|title }}</h2></a>
	<div class="alert-message block-message warning">Posted By <b>{{ post.posted_by|title }}</b> on <b>{{ post.date }}</b> | {{ post.comments.count }} comments </div>
<div class="post_body">{{ post.body|textile }}</div>

	{% if post.allow_comments %}
	<div class="fb-comments" data-href="{{ post.marketplace }}/blog/{{post.slug}}/"	data-num-posts="10" data-width="600"></div>



	{% else %}
	<h3>Comments Closed for this Blog Post</h3>

	{% endif %}
	
	<div class="post_tags"><b>Tags</b>:
	{% for tag in post.tags %}
	{{ tag.tag }}
	{% empty %}
	...
	{% endfor %}
	</div>
<a href="{% url market_blog %}">Back to Blog</a>

</div>
