{% extends "default/base.html" %}
{% load i18n %}

{% block content %}
<ul class="breadcrumb">
 <li><a href="{% url market_home %}">{% trans "Home" %}</a><span class="divider">/</span></li>
 <li class="active">{% trans "Sell" %}</li>
</ul>
{% block filter_content %}

<div class="sidebar">
 <div class="well">
  <h5>{% trans "Dealer Resources" %}</h5>
	<ul class="sell_dealer_resources">
		<li><a class="sell_dealer_resources" href="{% url market_privacy_policy %}">{% trans "Privacy Policy" %}</a></li>
	</ul>
 </div>
</div>

{% endblock %}

<div class="span12">
	
<h2>{% trans "Sell On" %} {{ marketplace.title }}</h2>


<p>{{ marketplace.title }}  is the online Marketplace for buying and selling. 
Created by a Collector and Dealer, We monitor the marketplace for counterfeits, and coins that don't match the description.</p>

<h2>{% trans "What You Can Sell on" %} {{ marketplace.title }}</h2>



<table class="NoBorderTable SellTable">
<thead>
<tr>
<th>Coins</th>
<th>Dealer To Dealer</th>
<th>Precious Metals</th>
<th>Books & Supplies</th>
</tr>
</thead>
<tbody>
<tr>
<td>	<img alt="Coins" src="{{ STATIC_URL }}img/coins.jpg"/></td>
<td>	<img alt="Coins" src="{{ STATIC_URL }}img/dealer-to-dealer.jpg"/> </td>
<td>	<img alt="Coins" src="{{ STATIC_URL }}img/precious-metals.jpg"/> </td>
<td>	<img alt="Coins" src="{{ STATIC_URL }}img/books-and-supplies.jpg"/> </td>
</tr>
</tbody>
</table>


<h2>{% trans "What You Get" %}</h2>

<table class="NoBorderTable SellTable">
<thead>
<tr>
<th>Your Own Store</th>

<th>Marketing</th>
<th>Payments & Security</th>
<th>Running Your Shop</th>
</tr>
</thead>
<tbody>
<tr>
<td>	<img alt="Your Own Store" src="{{ STATIC_URL }}img/customize-store.jpg"/></td>
<td>	<img alt="Marketing" src="{{ STATIC_URL }}img/build-value.jpg"/></td>
<td>	<img alt="Payments & Security" src="{{ STATIC_URL }}img/credit-cards.jpg"/> </td>
<td>	<img alt="Running Your Shop" src="{{ STATIC_URL }}img/automate-shop.jpg"/> </td>
</tr>
<tr>
<td>Customize your store with a<b> Graphic Designer</b> or use our <b>Free Templates</b></td>
<td>Build the value of your store, not some <b>Bay.</b> Track <b>orders, sales</b> and your website. Integrate <b>Google Analytics</b></td>
<td>Accept <b>Credit Cards, PayPal, Google Checkout</b> or your own. It's safe & secure <b>PCI certified hosting</b> so you don't have to worry</td>
<td>Automate your online store: Import inventory, post to <b>{{ marketplace.title }}</b> automatically</td>
</tr>
</tbody>
</table>

<div class="alert-message block-message error"><b>What's Not Allowed</b>: Counterfeits, Altered, Doctored and Coins that Don't Match the Description</div>

<h2>{% trans "Why Sell on" %} {{ marketplace.title }}</h2>
<ul>
	<li>
			<h3>{% trans "No Technical Skills Required" %}</h3>
			<p><b>Build the value of your online store</b> and provide a safe way to reach collectors and other dealers.</p>
	</li>
	<li>
			<h3>{% trans "No Percent of Gross" %}</h3>
			<p><b>Fill your store, not a bay...</b></p>
	</li>
	<li>
			<h3>{% trans "Safe and Secure" %}</h3>
			<p>Great Coins went through the <b>security and safety tests</b>, so you don't have to.<b> Minimize PCI compliance,</b> accept online credit cards with 128 Bit SSL encrypted Checkout, and Automatic Shop Backup</p>
	</li>
</ul>
<div class="clear"></div>
{% if user.is_authenticated %}
<div id="alert-message block-message success"/>
	<a id="signup-now" class="btn success" href="{% url market_sell_signup %}">Sell On Great Coins </a>
</div>
{% else %}
<div class="alert-message block-message success">
	In order to Sell on Great Coins, you need to
	<a class="btn small" href="{% url market_buy_signup %}?sell_signup=1"><b>{% trans "Register" %}</b></a>
</div>
{% endif %}
</div>
{% endblock %}

