{% load i18n %}
{% if paged %}
	<ul>
	{% if objects.has_previous %}
	    <li><a href="?page={{ objects.previous_page_number }}{% if getvars %}&{{ getvars }}{% endif %}" class="prev"> &larr; {% trans "Previous" %} </a></li>
	{% else %}
	    <li class="disabled">&larr; {% trans "Previous" %} </li>
	{% endif %}
	{% for page in pager.page_range %}
	    {% if page %}
	        {% ifequal page objects.number %}
	            <li class="active"><a href="#">{{ page }}</a></li>
	        {% else %}
	            <li><a href="?page={{ page }}{% if getvars %}&{{ getvars }}{% endif %}"> {{ page }} </a></li>
	        {% endifequal %}
	    {% else %}
	        ...
	    {% endif %}
	{% endfor %}
	{% if objects.has_next %}
	    <li><a href="?page={{ objects.next_page_number }}{% if getvars %}&{{ getvars }}{% endif %}" class="next"> {% trans "Next" %} &rarr;</a></li>
	{% else %}
	    <li class="next disabled"> {% trans "Next" %} &rarr;</li>
	{% endif %}
	</ul>	
{% endif %}
