{% extends "default/community.html" %}
{% load i18n %}

{% block blogs_selection %}current_selection{% endblock %}

{% block community_content %}
<h2>{% trans "Latest Posts" %}</h2>



<table class="NoBorderTable">
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>
{% for post in last_posts %}

{% include "default/community/post_render.html" %}

{% empty %}
<div class="warning">{% trans "There are no posts to show at this moment" %}</div>
{% endfor %}

</tbody>
</table>


<h2>{% trans "Recommended Posts" %}</h2>
<table class="NoBorderTable">
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>

{% for pick in posts_picks %}

{% with pick.post as post %}
	{% include "default/community/post_render.html" %}
{% endwith %}

{% empty %}
<div class="warning">{% trans "There are no posts to show at this moment" %}</div>
{% endfor %}
</tbody>
</table>



<h2>{% trans "Most Visited Posted This Week" %}</h2>
<table class="NoBorderTable">
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>

{% for post in most_visited %}

{% include "default/community/post_render.html" %}

{% empty %}
<div class="warning">{% trans "There are no posts to show at this moment" %}</div>
{% endfor %}
</tbody>
</table>

</div>
{% endblock %}
