{% extends "default/community.html" %}
{% load i18n %}

{% block faq_selection %}current_selection{% endblock %}

{% block community_content %}

<div class="grid_18 alpha omega margin_v">

<h1>{% trans "FAQ - Frequently Asked Questions" %}</h1>
<br></br>
<br></br>

<div>
{% for category in categories %}
{% if category.faqentry_set.count %}
<div class="grid_8 margin_v">
	<h1>{{ category.name }}</h1><br/>
	<ul>
{% for entry in category.faqentry_set.all %}
		<li><a href="#{{ entry.anchor }}">{{ entry.question }}</a></li>
{% endfor %}
	</ul>
</div>
{% endif %}
{% endfor %}
</div>

<div class="clear"></div>

{% for category in categories %}
{% if category.faqentry_set.count %}
<div class="faq_box">
	<div class="faq_category">
		<h1>{{ category.name }}</h1>
		{% if category.description %}
		<div class="description"">{{ category.description }}</div>
		{% endif %}
	</div>
{% for entry in category.faqentry_set.all %}
	<div id="{{ entry.anchor }}" class="faq_entry">
		<h3>{{ entry.question }}</h3>
		<p>{{ entry.answer|safe }}</p>
	</div>
{% endfor %}
</div>
{% endif %}
{% endfor %}


</div>
{% endblock %}