{% extends "default/community.html" %}
{% load i18n %}

{% block overview_selection %}current_selection{% endblock %}

{% block community_content %}




<h2>{% trans "Latest Announcements" %}</h2>
<table class="NoBorderTable">
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>
{% for announce in announcements %}
<tr>
<td>
  <img class="item" src="{{ announce.image.url_100x100 }}"/>
</td>

<td>
  <div class="BlockDate">{{ announce.posted_on|date:'F j, Y' }}| <b>{{ announce.posted_by }}</b></div>
  <div class="BlockText">{{ announce.announcement }}</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<h2>{% trans "Just Launched" %}</h2>
<table class="NoBorderTable span12">
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>
{% for shop in shops %}
<tr>

<td>	<a href="http://{{ shop.default_dns }}" target="_blank">
		{% if shop.owner.get_profile.photo %}
		<img class="thumbnail" alt="{{ shop.name }}" src="{{ shop.owner.get_profile.photo.url_400x400 }}" height="75"/>
		{% else %}
		<img class="thumbnail" alt="{{ shop.name }}" src="{{ STATIC_URL }}img/no-photo-big.jpg" height="75"/>
		{% endif %}
</a></td>		
<td><a href="http://{{ shop.default_dns }}" target="_blank"><p class="description">
	http://{{ shop.default_dns }}
		{{ shop.description|safe }}</a></p>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<hr>
<h2>{% trans "Latest Blog Posts" %}</h2>
<table class="NoBorderTable">
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>


{% for post in last_posts %}
<tr>
{% include "default/community/post_render.html" %}
{% empty %}
<div class="warning">{% trans "There are no posts to show at this moment" %}</div>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}

