	 <tr>
	 <td>
		<a href="http://{{ post.shop.default_dns }}/blog/" target="_blank">
		{% if post.shop.owner.get_profile.photo %}
		<img class="item" alt="{{ post.shop.name }}" src="{{ post.shop.owner.get_profile.photo.url_100x100 }}" >
		{% else %}
		<img class="item" alt="{{ post.shop.name }}" src="{{ MEDIA_URL }}img/no-photo-big.jpg" />
		{% endif %}
		</a>
	</td>

	<td>
		<p><a href="http://{{ post.shop.default_dns }}/blog/view_post/{{post.id}}">{{ post.title }}</a></p>
		<p>{{ post.date_time|date:'H:m - F j, Y' }}</p>
		<p>{{ post.body|safe|truncatewords:"40" }}</p>
       	</td>
	 </tr>
