{% extends "default/community.html" %}
{% load i18n %}

{% block profiles_selection %}current_selection{% endblock %}

{% block community_content %}
<div class="row">
<div class="span12">

{% for letter in letters %}
<div class="span1 capital_letter">
        <h2><a href="{% url community_profiles_list letter %}">{{ letter }}</a></h2>
</div>
{% endfor %}


{% if shops %}
<div class="row">
{% for shop in shops %}
	<div class="profile span5">
		<a href="http://{{ shop.default_dns }}" target="_blank">
		<div class="dealer_box">
			{% if shop.owner.get_profile.photo %}
			<img class="item" alt="{{ shop.name }}" src="{{ shop.owner.get_profile.photo.url_400x400 }}" height="128" width="135"/>
			{% else %}
			<img class="item" alt="{{ shop.name }}" src="{{ STATIC_URL }}media/img/no-photo-big.jpg" height="128" width="135"/>
			{% endif %}
			<div class="dealer">{{ shop.admin.get_full_name }}</div>
			<div class="title">{{ shop.default_dns }}</div>
			<div class="description">{{ shop.description|safe }}</div>
		</div>
		</a>
	</div>
{% endfor %}
</div>
</div>
<p></p>
<b><h3><a href="{% url community_profiles %}">Back To Dealer Profiles</a></h3></b>
<b><h3><a href="{% url market_community %}">Back To the Community</a></h3></b>
{% else %}
{% trans "No profiles found" %}
<b><h3><a href="{% url community_profiles %}">Back To Dealer Profiles</a></h3></b>
<b><h3><a href="{% url market_community %}">Back To the Community</a></h3></b>



{% endif %}
</div>

{% endblock %}
