{% load i18n %}

	<div class="grid_4 margin_h padding_h margin_v padding_v">
		<div class="border-bottom padding_v margin_v">
			<h3>{% trans "Add Lot" %}</h3>
		</div>
		<p><a href="{% url lot_add %}">{% trans "Add Now" %}</a></p>
	</div>
	<div class="clear"></div>
		
	<div class="grid_4 margin_h padding_h margin_v padding_v">
		<div class="border-bottom padding_v margin_v">
			<h3>{% trans "Lot Status" %}</h3>
		</div>
		<p><a href="">{% trans "Published" %}</a></p>
	</div>
	<div class="clear"></div>
	
	