{% extends 'base_login.html' %}
{% load i18n %}

{% block m_account %}current_menu{% endblock %}

{% block title_menu_left %}{% trans "Account" %}{% endblock %}

{% block title_sub_menu %}{% endblock %}

{% block sub_menu %}
    <ul>
		<li class="links_sub_menu {% block m_profile %}{% endblock %}"><a href="{% url account_profile %}">{% trans "Profile" %}</a></li>
		<li class="links_sub_menu {% block m_subscription %}{% endblock %}"><a href="{% url subscription_overview %}">{% trans "Subscription" %}</a></li>
	</ul>
{% endblock %}


{% block main %}
{% endblock %}