{% extends 'store_admin/inventory/base_items.html' %}
{% load i18n %}
{% load sell_tags %}

{% block m_items %}current_sub_menu{% endblock %}

{% block title_sub_menu %}{% trans "Item detail" %}: {{ item.title }}{% endblock %}


{% block toolbar %}
	<a href="{% url item_edit item.id %}"><img src="{{ MEDIA_URL }}img/edit.png" class="icon">{% trans "Edit Item" %}</a> |   
	<a href="{% url item_delete item.id %}"><img src="{{ MEDIA_URL }}img/remove.png" class="icon">{% trans "Remove Item" %}</a> |
	<a href="{% url inventory_items_import %}"><img src="{{ MEDIA_URL }}img/import.png" class="icon">{% trans "Import" %}</a>
{% endblock %}


{% block main %}
<div class="grid_16 box">	
	
	<div class="grid_8 margin_h">
		<h3>{% trans "Item" %}: {{ item.title }} </h3>
		<p class="text_justify"><b>{% trans "Description" %}:</b> {{ item.description|striptags|linebreaks }} </p>
		<p><b>{% trans "Category" %}:</b> {{ item.category.name }} </p>
		<p><b>{% trans "SubCategory" %}</b>: {{ item.subcategory.name }} </p>
		<p><b>{% trans "Qty" %}:</b> {{ item.qty  }}</p>
		<p><b>{% trans "Weight" %}:</b> {{ item.weight  }}</p>
		<p><b>{% trans "Price" %}:</b> {{ item.price|money_format:shop  }}</p>
	</div>
		
	<div class="grid_6 margin_h padding_h">
		<h3>{% trans "Item Images" %}</h3>
		
		<div id="images">
		{% for img in item.imageitem_set.all %}		
			<div class="grid_2 suffix_1 alpha omega">
				<img src="{{ img.image.url_100x100 }}" height="100"/>
				<a href="{% url del_item_image item.id img.id %}">{% trans "Delete" %}</a><br/>
				{% if img.primary_picture %}
				Primary Picture
				{% else %}
				<a href="{% url set_forsale_primary_picture item.id img.id %}">{% trans "Set as Primary" %}</a>
				{% endif %}
			</div>
		{% endfor %}
		</div>
		<div class="clear"></div>
		<br/><br/>
			
		<div class="grid_5">
			<form action="{% url add_item_image item.id %}" method="POST" name="form_image" enctype="multipart/form-data">
				{{ image_form.as_p }}
				<a href="javascript:document.form_image.submit();" class="small awesome">{% trans "Add Image" %}</a>
			</form>
		</div>
		<div class="clear"></div>
		
	</div>
	
	<div class="clear"></div>
	
</div>
	
	
{% endblock %}