{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="http://studio.devsar.com:8080/media/css/960_20.css" />
	<link rel="stylesheet" type="text/css" href="http://studio.devsar.com:8080/media/css/reports.css"/>
	{% block extrastyle %}{% endblock %}
</head>
   
<body>
	<div id="report">
		{% block report %}
		{% endblock %}
	</div>
</body>

</html>