{% extends 'admin/mail/base.html' %}
{% load i18n adminmedia %}

{% block report %}
	<h1>Daily Customers Activity Report</h1>
	<div class="info_box">
		<div class="item"><div class="key">{% trans "Day" %}</div><div class="value">{{ day|date:"Y-m-d P" }}</div></div>
		<div class="item"><div class="key">{% trans "Month Init" %}</div><div class="value">{{ month_init|date:"Y-m-d P" }}</div></div>
		<div class="item"><div class="key">{% trans "Month End" %}</div><div class="value">{{ month_end|date:"Y-m-d P" }}</div></div>
	</div>
	
	<br></br>
	
	<div class="table">
		<div class="grid_20">
		{% for col_name in columns %}		
			<div class="th"><b>{{ col_name }}</b></div>
		{% endfor %}
		</div>
		<div class="clear"></div>		
		<hr></hr>
		{% for row in rows %}
		<div class="grid_20 margin_v">
			{% for col_value in row %}
    		<div class="td">{{ col_value }}</div>
			{% endfor %}		
		</div>
		<div class="clear"></div>
		{% endfor %}
		<hr></hr>
		<div class="grid_20 margin_v">
		{% for total in totals %}
			<div class="td"><b>{{ total }}</b></div>
		{% endfor %}
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}